# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea/
.DB_Store
tmp/
bin/
vendor/
gxd-cli-*
test-*
*_test.go
vendor/
gxd-cli-*
bin/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
